fastapi
motor
pydantic-settings
opencv-python
numpy
imagehash
tldextract
torch
joblib
#bson
pydantic
transformers
tensorflow
python-jose
passlib
redis
bs4
uvicorn
pymongo
email-validator
python-multipart